# Токен Max бота
MAX_BOT_TOKEN=BotToken

# Настройки для ЛОКАЛЬНОГО запуска (Localhost)
# Это дефолтные значения. Если запускать через Python, они сработают.
MAX_API_URL=https://platform-api.max.ru
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/bot_db
REDIS_URL=redis://localhost:6379/0